* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    /*border: 1px solid red;*/
}

.clearfix {
    float: none;
    clear: both;
}
body {
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}

#global {
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 2px 2px #ccc;
    border-radius: 10px;
}

#logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 75px;
    text-transform: uppercase;
    background: #235E3D;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 390px;
    height: 80px;
    margin-bottom: 20px;
    float: left;
}

#menu {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-radius: 10px;
}

#menu ul {
    line-height: 46px;
    transition: all 300ms;
}

#menu ul li {
    margin: 0px;
    height: 46px;
    width: 24.5%;
    display: inline-block;
    text-align: center;
}

#menu ul li:hover {
    background: #235E3D;
    border-radius: 10px;
}

#menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
}

#posts {
    width: 60%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.post {
    padding: 10px;
}

.post h2 {
    font-size: 30px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.post .date {
    display: block;
    color: gray;
    margin-top: 5px;
}

.post p {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 25px;
    text-align: justify;
}

.button-more {
    padding: 15px;
    background: #235E3D;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 70px;
    border-radius: 5px;
}

#sidebar {
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    float: right;
}

#sidebar h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
    background: url("../img/lines.png") repeat-x;
}

#sidebar h4 span {
    background: white;
    padding: 5px;
}

#sidebar img {
    width: 100%;
}

#sidebar p {
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="email"],
form input[type="passwd"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid  #ccc;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 5px;
}

form input[type="submit"] {
    padding: 5px;
    cursor: pointer;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 47px;
    background: rgba(51, 51, 51, 0.7);
    margin: 0px auto;
    margin-top: 50px;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 47px;
}

.bx-wrapper, .bx-viewport {
    height: 300px !important;
}

#selector-theme {
    position: fixed;
    top: 40%;
    background: rgba(51, 51, 51, 0.7);
    width: 50px;
    height: 100px;
}

#green-theme,
#red-theme,
#blue-theme {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#green-theme {
    background: #235E3D;
}
#red-theme {
    background: #CA3413;
}
#blue-theme {
    background: #1F87C4;
}

.goto-top {
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}

#box_about {
    width: 60%;
    float: left;
    margin-top: 40px;
}

#box_about h2 {
    font-size: 30px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

#tabs {
    margin-top: 20px;
}

#box_clock {
    width: 60%;
    float: left;
}
#clock {
    width: 30%;
    padding: 20px;
    margin: 0px auto;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    border: 1px solid #333;
    border-radius: 10px;
}

#form_contact {
    width: 50%;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#form_contact label {
    display: block;
    width: 100%;
    margin-top: 15px;
}